#header {
    background-color: var(--background-header);
    width: 100%;
    height: 39px;
}

.header__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 1200px;
    height: 39px;
}

.header-title-left__list {
    list-style: none;
    display: flex;
    padding-left: 0px;
    align-items: center;
}

.header-title-left__item {
    margin-right: 20px;
}

.header-title-left-item__link {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: lighter;
    color: var(--white-color);
    text-transform: uppercase;
}

.header-title-left-item__icon  {
    position: relative;
    top: 1px;
    margin-right: 10px;
    font-size: 1.4rem;
}

.header-title__right {
    list-style: none;
}

.header-title-right__list {
    list-style: none;
    display: flex;
}

.header-title-right__item {
    margin-right: 20px;
}

.header-title-right-item__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--white-color);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.header-title-right-item__icon  {
    margin-right: 10px;
}

.header__navbar {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 1200px;
    height: 80px;
    background-color: var(--white-color);
}

.header-navbar__logo {
    width: 173px;
    margin-right: 45px;
}

.header-navbar__item {
    position: relative;
    display: inline-block;
}

.header-navbar-item__link {
    text-decoration: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: var(--text-color);
    font-weight: 400;
    margin-right: 40px;
    letter-spacing: 2px;
}

.header-navbar__item:hover .header-navbar-item__option-list {
    display: block;
}

.header-navbar-item__option-list {
    position: absolute;
    top: calc(100% - -25px);
    left: 0;
    background-color: var(--white-color);
    width: 195px;
    min-height: 45px;
    border-radius: 2px;
    list-style: none;
    padding-left: 0;
    box-shadow: 0px 2px 5px #f1f1f1;
    animation: fadeIn ease-in 0.2s;
    display: none;
    z-index: 1;
}

.header-navbar-item__option-list::after {
    content: "";
    position: absolute;
    top: calc(0% - 29px);
    left: 0;
    right: 0;
    height: 32px;
}

.header-navbar-option__item .header-navbar-option-item__link:hover {
    background-color: #F9F9F9;
}

.header-navbar-option-item__link {
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-color);
    border-bottom: 1px solid #F1F1F1;
    padding: 15px 0px 15px 20px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.header-navbar-option-item--hasSubnav {
    position: relative;
}

.header-navbar-option-item--hasSubnav:hover .header-subnav__option {
    display: block;
    animation: fadeIn ease-in 0.2s;
}

.header-subnav__option {
    position: absolute;
    top: 0;
    left: calc(100% + 20px);
    padding-left: 0px;
    list-style: none;
    background-color: var(--white-color);
    width: 193px;
    min-height: 47px;
    box-shadow: 0px 2px 5px #f1f1f1;
    display: none;
    z-index: 1;
}

.header-subnav__option::after {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    width: 20px;
    height: 190px;
}

.header-subnav-option-item__link {
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-color);
    border-bottom: 1px solid #F1F1F1;
    padding: 15px 0px 15px 20px;
    letter-spacing: 2px;
}

.header-subnav-option__item .header-subnav-option-item__link:hover {
    background-color: #F9F9F9;
}


.header-navbar-option-item__label {
    color: var(--white-color);
    margin-left: 35px;
    text-transform: uppercase;
    font-size: 0.9rem;
    padding: 3px 6px;
    border-radius: 4px;
} 

.header-navbar-option-item__icon {
    position: absolute;
    right: 21px;
    font-size: 1.4rem;
}

.header-navbar__button {
    font-size: 1.6rem;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--white-color);
    margin-top: -3px;
    letter-spacing: 2px;
}

#slider {
    position: relative;
    margin-top: 80px;
    padding-top: 40%;
    background: url('/asset/Images/slider.jpg') center / cover no-repeat;
}

.slider__container {
    background-color: red;
}

.slider__circle-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc(100% - 686px);
    left: calc(100% - 783px);
    min-height: 600px;
    min-width: 600px;
    max-height: 600px;
    max-width: 600px;
    background-color: rgba(88, 34, 88, 0.34);
    border-radius: 100%;
    user-select: none;
    animation: fadeIn ease 0.5s;
}

.slider__img {
    width: 60px;
}

.slider__context {
    margin-top: 0px;
    font-size: 5rem;
    text-transform: uppercase;
    color: var(--white-color);
    text-align: center;
}

.slider__context p {
    margin-top: 30px;
    margin-bottom: 60px;
    letter-spacing: 8px;
}

.slider__button {
    display: block;
    background-color: transparent;
    border: 1px solid var(--white-color);
    min-width: 300px;
    height: 68px;
    line-height: 68px;
    text-align: center;
    font-size: 1.8rem;
    color: var(--white-color);
    text-transform: uppercase;
}

.slider__button:hover {
    background-color: var(--white-color);
    color: rgba(98, 83, 101, 0.65);
}

.slider__circle-two {
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc(100% - 681px);
    left: calc(100% - 280px);
    width: 150px;
    height: 150px;
    border-radius: 100%;
    animation: fadeIn ease 0.5s;
}

.slider-circle-content {
    text-align: center;
}

.slider-circle-content p {
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 0px;
}