/* Slider */
#slider {
    position: relative;
    padding-top: 50%;
    background: url('/asset/Images/slider.jpg') center / cover no-repeat;
}

.slider__circle-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 861px;
    top: 75px;
    min-height: 600px;
    min-width: 600px;
    max-height: 600px;
    max-width: 600px;
    background-color: rgba(88, 34, 88, 0.34);
    border-radius: 100%;
    user-select: none;
    animation: fadeIn ease 0.5s;
}

.slider__img {
    width: 60px;
}

.slider__context {
    margin-top: 0px;
    font-size: 5rem;
    text-transform: uppercase;
    color: var(--white-color);
    text-align: center;
}

.slider__context p {
    margin-top: 30px;
    margin-bottom: 60px;
    letter-spacing: 8px;
}

.slider__button {
    display: block;
    background-color: transparent;
    border: 1px solid var(--white-color);
    min-width: 300px;
    height: 68px;
    line-height: 68px;
    text-align: center;
    font-size: 1.8rem;
    color: var(--white-color);
    text-transform: uppercase;
}

.slider__button:hover {
    background-color: var(--white-color);
    color: rgba(98, 83, 101, 0.65);
}

.slider__circle-two {
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 1345px;
    top: 70px;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    animation: fadeIn ease 0.5s;
}

.slider-circle-content {
    text-align: center;
}

.slider-circle-content p {
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 0px;
}

.list-place__wrap {
    padding: 15px;
}

.list-place-content {
    position: relative;
    width: 270px;
    height: 356px;
}

.list-place-content__icon {
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    width: 41px;
    height: 38px;
}

.list-place-content__img {
    width: 100%;
}

.list-place-context {
    position: absolute;
    bottom: 20px;
    left: 32px;
}

.list-place-context h2 {
    margin: 0px;
    font-size: 1.8rem;
    color: var(--white-color);
    font-weight: 600;
}

.list-place-context p {
    margin-top: 13px;
    color: var(--white-color);
    font-size: 1.4rem;
    letter-spacing: 2px;
    font-weight: 500;
}

.list-place-content:hover .list-place-content--hover { 
    display: block;
}

.list-place-content--hover { 
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #14B9D5;
    width: 270px;
    height: 356px;
    display: none;
    animation: fadeIn linear 0.3s;
}

.list-place-content-hover__context {
    margin-top: 95px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.list-place-content-hover__headding {
    color: var(--white-color);
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 27px;
}

.list-place-content-hover__link {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.6rem;
    margin-bottom: 18px;
}

.list-place-content-hover__btn {
    font-size: 1.4rem;
    width: 180px;
    height: 30px;
    background-color: var(--white-color);
    color: #7EB9D5;
}

.place__list {
    list-style: none;
    margin-top: 0px;
    padding-left: 0px;
}

.place-list__item {
    display: flex;
    margin-bottom: 28px;
}

.place-list-item__content {
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.place-list-item__img {
    display: block;
    width: 100px;
    height: 100px;
    transition: opacity linear 0.1s;
}

.place-list-item__img:hover {
    cursor: pointer;
    opacity: 0.7;
}

.place-list-item__name {
    margin-top: 0px;
    font-size: 2rem;
    font-weight: 400;
    color: var(--text-color);
    margin-bottom: 0px;
}

.place-list__nation {
    margin: 10px 0px;
    font-size: 1.4rem;
    letter-spacing: 2px;
    color: var(--text-color);
}

.place-list-nation__icon {
    font-size: 1.2rem;
}

.place-list__price {
    width: 131px;
    height: 27px;
    line-height: 27px;
    background: linear-gradient(to right, #14b9d5 0%, #0071a7 100%);
    color: var(--white-color);
    font-size: 1.4rem;
}

/* Creative travel afency */
.list-place-creative-travel__headding {
    font-size: 1.4rem;
    font-weight: 400;
    color: #9A9A9A;
    letter-spacing: 3px;
    margin-bottom: 0px;
}

.list-place-creative-travel__sub-headding {
    margin-top: 15px;
    font-size: 3.4rem;
    font-weight: 400;
    line-height: 48px;
    color: #555555;
    letter-spacing: 2px;
}

.list-place-creative-travel__content-headding {
    font-size: 5rem;
    color: #555555;
    font-weight: 400;
    text-align: center;
    margin: 10px 0px 0px 0px;
}

.list-place-creative-travel__content-headding span {
    font-size: 3rem;
    font-weight: 400;
    color: #9A9A9A;
    margin: 0px 15px 0px 5px;
}

.list-place-creative-travel__content {
    text-align: center;
    margin-top: 30px;
    font-size: 1.3rem;
    line-height: 3rem;
    font-weight: 400;
    letter-spacing: 2px;
    color: #999A9A;
}

/* Place search */
.place__search {
    position: relative;
    background: url('../Images/bgsearch.jpg') center / cover no-repeat;
    height: 565px;
    z-index: 1;
}

.form-search__wrap {
    padding: 35px;
}

/* New Place */
.new__place {
    margin-top: 60px;
}

.new-place__item {
    background-color: #14B9D5;
    min-height: 680px;
    height: 97%;
}

.new-place__headding {
    padding: 135px 40px 30px 40px;
}

.new-place__content-heading {
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 2px;
}

.new-place__content-subheadding {
    margin-top: 20px;
    color: var(--white-color);
    font-size: 5.6rem;
    line-height: 56px;
    font-weight: 600;
    margin-bottom: 0px;
}

.new-place__content {
    border-top: 2px solid var(--white-color);
    margin: 0px 40px;
}

.new-place-content__text {
    margin-top: 30px;
    color: var(--white-color);
    font-size: 1.7rem;
    line-height: 30px;
}

.new-place-content__btn {
    color: #41B9D5;
    font-size:  1.4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    height: 44px;
    line-height: 44px;
}

.new-place-list__item {
    width: 46%;
    border: 1px solid #F1F1F1;
    float: left;
    margin: 0px 15px 26px 15px;
    padding: 30px;
    overflow: hidden;
}

.new-place-list-item__date-time {
    color: #9A9AAA;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 2px;
}

.new-place-list-item__name {
    display: block;
    margin: 20px 0px 32px;
    text-decoration: none;
    font-size: 2.6rem;
    font-weight: 600;
    color: #555555;
    letter-spacing: 2px;
    height: 103px;
    line-height: 35px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.new-place-list-item__content {
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 30px;
    letter-spacing: 2px;
    height: 126px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.new-place-list-item__btn {
    padding: 5px 20px;
    color: var(--white-color);
    font-size: 1.6rem;
    text-transform: uppercase;
    line-height: 23px;
}

/* Statistical Place */
.statistical__place {
    position: relative;
    padding-top: 17%;
    margin-top: 45px;
    background: url('/asset/Images/statistical.jpg') top center / cover no-repeat;
}

.statistical-place__list {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 159.6px;
}

.statistical-place__content {
    display: flex;
}

.statistical-place__number {
    color: var(--white-color);
    font-size: 7rem;
    font-weight: 400;
    display: block;
    height: 45px;
    margin-top: 18px;
    margin-right: 20px;
}

.statistical-place__text {
    color: var(--white-color);
    font-size: 1.3rem;
    letter-spacing: 2px;
    line-height: 25px;
    display: block;
    padding-right: 34px;
}