#header {
    display: flex;
    align-items: center;
    background-color: var(--background-header);
    width: 100%;
    height: 39px;
}

.header__title {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header-title__left {

}

.header-title-left__list {
    list-style: none;
    display: flex;
    padding-left: 0px;
    align-items: center;
}

.header-title-left__item {
    margin-right: 20px;
}

.header-title-left-item__link {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: lighter;
    color: var(--white-color);
    text-transform: uppercase;
}

.header-title-left-item__icon  {
    position: relative;
    top: 1px;
    margin-right: 10px;
    font-size: 1.4rem;
}

.header-title__right {
    list-style: none;
}

.header-title-right__list {
    list-style: none;
    display: flex;
}

.header-title-right__item {
    margin-right: 20px;
}

.header-title-right-item__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--white-color);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.header-title-right-item__icon  {
    margin-right: 10px;
}